<!doctype html>
<html>
<head>
{% block head %}
    <link rel="stylesheet" href="/css/main.css"/>
    <title>{% block title %}{% endblock %}</title>
{% endblock %}
</head>
<body>
    <main>
    {% block content %}{% endblock %}
    </main>
    <footer>
    {% block footer %}{% endblock %}
    </footer>
</body>
</html>