{% extends "base.html.twig" %}

{% block title %}My Outpost - {{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>

   <div class="details">
       <p>
           <span class="property">Status:</span>
           <span class="value">{{ status }}</span>
       </p>
       <p>
           <span class="property">Author:</span>
           <span class="value">{{ author.nickname }}</span>
           <img src="{{ author.avatar }}">
       </p>
       <p>
           <span class="property">Posted On:</span>
           <span class="value">{{ date | date("l, F dS, Y")}}</span>
       </p>
   </div>

    <p class="post-content">
        {{ content | raw }}
    </p>
{% endblock %}